body {
	background: linear-gradient(180deg, $clr-light, $clr-dark);
	height: 100vh;
}

.hidden {
	display: none;
}

.content-wrapper {
	@include flex($direction: column, $align: center);
}

// SearchBar + Button
.wrapper {
	margin-top: $margin-XL;
	border-radius: $border-radius-M;
	border-style: none;
	box-shadow: 2px 2px 4px $clr-shadow;
	padding: $padding-XS;
	background-color: $clr-white;
}

input,
button {
	background-color: transparent;
	border: 0;
}

.search-button {
	margin-right: $margin-XS;
}

.search-bar {
	margin-left: $margin-XS;
}

// Main

.main {
	@include flex(column, center, center);
}

//Current Temp Section

.current-temp-section {
	margin-top: $margin-M;
	@include flex($direction: column, $align: center);
}

.current-temp {
	text-align: center;
}

.current-location {
	text-align: center;
}

// t-w-h-temp-section

.t-w-h-temp-section {
	width: 320px;
	margin-top: $margin-M;
	background-color: $clr-white;
	border-radius: $border-radius-S;
	padding: $padding-S;
	@include flex($direction: column, $align: center);
}

ul {
	@include flex($justify: space-between);
}

.sun-container {
	display: flex;
}

.sunrise,
.sunset {
	padding: $padding-S;
	text-align: center;
}

.temp-container {
	@include flex($direction: column, $align: center);
}

.max-temp,
.min-temp {
	margin: $margin-S;
}

.weather-info-week {
	width: 100%;
}

.precipitation {
	text-align: right;
}

.week-weather-icon {
	width: 55px;
	height: 40px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}

.trolling {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	object-fit: contain;
}

.week-error-message {
	width: 200px;
}

.sunrise-time,
.sunset-time {
	text-align: center;
}

.time-stamp {
	margin-top: $margin-S;
}
