// General settings
body {
	background: linear-gradient(180deg, $clr-light, $clr-dark);
}

.hidden {
	display: none;
}

.content-wrapper {
	@include flex($direction: column, $align: center);
}

.time-stamp {
	margin: $margin-XS;
}
