.weather-info-hourly {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: auto;
	width: 90%;
	overscroll-behavior-x: contain;
	overflow-x: auto;
	padding-bottom: $padding-XS;
	height: 100%;
	.div-hourly {
		@include flex(row);
	}
}

.tableBody {
	@include flex(column);
}

.hourly-forcast-ul {
	@include flex(column, center, center);
	margin: $margin-XS;
	width: 2.2rem;
}

.hourly-weather-icon {
	height: 40px;
	width: auto;
}

.precipitation-small {
	font-size: 0.75rem;
}

.wind-hourly {
	font-size: 0.75rem;
}
