.weather-info-hourly {
    height: auto;
    width: 90%;
    border-radius: $border-radius-S;
    overscroll-behavior-x: contain;
    overflow-x: auto; 
    .div-hourly {
        @include flex (row);
        padding: $padding-XS;
    }
}

.tableBody {
    @include flex (column);
}

.hourly-forcast-ul {
    @include flex (column, center, center);
    margin: $margin-XS;
    width: 2.2rem;
}

.hourly-weather-icon {
    height: 40px;
    width: auto;
}
