// Main (current location weather and info-box statics)
.main {
	.weather-code {
		height: 150;
	}
	@include flex(column, center, center);
	.current-temp-section {
		width: 80vw;
		@include flex($direction: column, $align: center);
		.current-temp {
			text-align: center;
		}
		.current-location {
			text-align: center;
		}
		.current-location-div {
			margin-top: $margin-XS;

			@include flex($align: center, $justify: center);
			.fa-solid {
				margin-right: 5px;
			}
		}
	}
	.t-w-h-temp-section {
		margin-top: $margin-S;
		height: 100%;
		background-color: $clr-white;
		border-radius: $border-radius-S;
		padding: $padding-S;
		width: 320px;
		@include flex($direction: column, $align: center);
		.h2-div{
			display: flex;
		   .star{
			color: gold;
			cursor: pointer;
			position: absolute;
			right: 50px;
			
		   }
		}
	}
}
