.radio-btn {
    height: 0px;
    width: 0px;
}

.radio-wrapper {
    margin: $margin-S;
    background-color: $clr-gray-light;
    width: 90%;
    height: 50px;
    border-radius: $border-radius-S;
    @include flex(row, space-evenly, center);
    box-shadow: 2px 2px 4px $clr-shadow;
}

.radio-label {
    display: inline-block;
    background-color: $clr-gray-light;
    border-radius: $border-radius-S;
    color: $clr-dark-blue; 
    padding: 0.6rem 1.0rem;
    cursor: pointer;
}      

input[type="radio"]:checked+label {
    background-color: $clr-white;
}