// SearchBar + SearchButton
.wrapper {
	margin-top: $margin-M;
	border-radius: $border-radius-M;
	border-style: none;
	box-shadow: 2px 2px 4px $clr-shadow;
	padding: $padding-XS;
	background-color: $clr-white;
	.search-bar {
		margin-left: $margin-XS;
		background-color: transparent;
		border: 0;
	}
	.search-button {
		margin-right: $margin-XS;
		background-color: transparent;
		border: 0;
	}
}
li.search-result {
	cursor: pointer;
	display: flex;
	width: 300px;
	height: 40px;
	background-color: $clr-white;
	padding-top: 5px;
	// text-align: center;
	font-size: 16px;
	border-radius: $border-radius-M;
	box-shadow: 2px 2px 4px $clr-shadow;
	
	span {
		margin-top: 2px;
	}
}
li:hover {
	box-shadow: inset 0 0 25px $clr-gray-light;
}
img.flag {
	height: 25px;
	margin: 3px 10px 0 10px;
	
}
