// Week table
.weather-info-week {
	width: 90%;
	height: 100%;
}

.precipitation {
	text-align: right;
}

.week-weather-icon {
	width: 55px;
	height: 40px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}

.week-error-message {
	width: 200px;
}
