body {
  background: linear-gradient(180deg, hsl(191deg, 85%, 97%), hsl(185deg, 77%, 78%));
  height: 100vh;
}

.hidden {
  display: none;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  margin-top: 3rem;
  border-radius: 12px;
  border-style: none;
  box-shadow: 2px 2px 4px hsl(0deg, 0%, 63%);
  padding: 0.5rem;
  background-color: hsl(0deg, 0%, 100%);
}
.wrapper .search-bar {
  margin-left: 0.5rem;
  background-color: transparent;
  border: 0;
}
.wrapper .search-button {
  margin-right: 0.5rem;
  background-color: transparent;
  border: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .current-temp-section {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main .current-temp-section .current-temp {
  text-align: center;
}
.main .current-temp-section .current-location {
  text-align: center;
}
.main .t-w-h-temp-section {
  margin-top: 1.5rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.radio-wrapper {
  margin: 1rem;
  background-color: hsl(0deg, 0%, 83%);
  width: 90%;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 2px 4px hsl(0deg, 0%, 63%);
}
.radio-wrapper .radio-btn {
  height: 0px;
  width: 0px;
}
.radio-wrapper .radio-label {
  display: inline-block;
  background-color: hsl(0deg, 0%, 83%);
  border-radius: 8px;
  color: hsl(185deg, 77%, 28%);
  padding: 0.6rem 1rem;
  cursor: pointer;
}

input[type=radio]:checked + label {
  background-color: hsl(0deg, 0%, 100%);
}

.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.temp-container .max-temp, .temp-container .min-temp {
  margin: 1rem;
}

.sun-container {
  display: flex;
}
.sun-container .sunrise, .sun-container .sunset {
  padding: 1rem;
}

.weather-info-week {
  width: 100%;
}

.precipitation {
  text-align: right;
}

.week-weather-icon {
  width: 55px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.trolling {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.week-error-message {
  width: 200px;
}

.wrapper {
  margin-top: 3rem;
  border-radius: 12px;
  border-style: none;
  box-shadow: 2px 2px 4px hsl(0deg, 0%, 63%);
  padding: 0.5rem;
  background-color: hsl(0deg, 0%, 100%);
}
.wrapper .search-bar {
  margin-left: 0.5rem;
  background-color: transparent;
  border: 0;
}
.wrapper .search-button {
  margin-right: 0.5rem;
  background-color: transparent;
  border: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .current-temp-section {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main .current-temp-section .current-temp {
  text-align: center;
}
.main .current-temp-section .current-location {
  text-align: center;
}
.main .t-w-h-temp-section {
  margin-top: 1.5rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}/*# sourceMappingURL=style.css.map */