body {
  background: linear-gradient(180deg, hsl(191deg, 85%, 97%), hsl(185deg, 77%, 78%));
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.time-stamp {
  margin: 0.5rem;
}

.error-message-container {
  position: fixed;
  top: -50px;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: top 1s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
}

.error-message {
  color: hsl(0deg, 79%, 36%);
  font-weight: 600;
  margin-left: 0.5rem;
}

.error-button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background-color: transparent;
  border: 0;
  border-style: none;
}

.trolling {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
}

div.current-location-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.radio-wrapper {
  margin: 1rem;
  background-color: hsl(0deg, 0%, 83%);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 2px 4px hsl(0deg, 0%, 63%);
}
.radio-wrapper .radio-btn {
  height: 0px;
  width: 0px;
}
.radio-wrapper .radio-label {
  display: inline-block;
  background-color: hsl(0deg, 0%, 83%);
  border-radius: 8px;
  color: hsl(185deg, 77%, 28%);
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin: 0.2rem;
}

input[type=radio]:checked + label {
  background-color: hsl(0deg, 0%, 100%);
}

.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.temp-container .max-temp,
.temp-container .min-temp {
  margin: 1rem;
}

.sun-container {
  display: flex;
}
.sun-container .sunrise,
.sun-container .sunset {
  padding: 1rem;
}
.sun-container .sunrise .sunrise-time,
.sun-container .sunrise .sunset-time,
.sun-container .sunset .sunrise-time,
.sun-container .sunset .sunset-time {
  text-align: center;
}

.weather-info-today {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weather-info-week {
  width: 90%;
  height: 100%;
}

.precipitation {
  text-align: right;
}

.week-weather-icon {
  width: 55px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.week-error-message {
  width: 200px;
}

.weather-info-hourly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: 90%;
  overscroll-behavior-x: contain;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  height: 100%;
}
.weather-info-hourly .div-hourly {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.tableBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hourly-forcast-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: 2.2rem;
}

.hourly-weather-icon {
  height: 40px;
  width: auto;
}

.precipitation-small {
  font-size: 0.75rem;
}

.wind-hourly {
  font-size: 0.75rem;
}

.wrapper {
  position: relative;
  margin-top: 1.5rem;
  border-radius: 12px;
  border-style: none;
  box-shadow: 2px 2px 4px hsl(0deg, 0%, 63%);
  padding: 0.5rem;
  background-color: hsl(0deg, 0%, 100%);
}
.wrapper .search-bar {
  margin-left: 0.5rem;
  background-color: transparent;
  border: 0;
}
.wrapper .search-button {
  margin-left: 5%;
  background-color: transparent;
  border: 0;
}

li.search-result {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px hsl(0deg, 0%, 63%);
}
li.search-result span {
  margin-top: 2px;
}

li:hover {
  box-shadow: inset 0 0 25px hsl(0deg, 0%, 83%);
}

img.flag {
  height: 25px;
  margin: 3px 10px 0 10px;
}

form input {
  width: 80%;
}

.header {
  width: 250px;
  max-width: 80vw;
  position: relative;
}

.outputDiv {
  position: absolute;
  width: 100%;
  z-index: 4;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .weather-code {
  height: 150;
}
.main .current-temp-section {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main .current-temp-section .current-temp {
  text-align: center;
}
.main .current-temp-section .current-location {
  text-align: center;
}
.main .current-temp-section .current-location-div {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main .current-temp-section .current-location-div .fa-solid {
  margin-right: 5px;
}
.main .t-w-h-temp-section {
  margin-top: 1rem;
  height: 100%;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 8px;
  padding: 1rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
* h1 {
  font-weight: 600;
  font-size: 2.25rem;
}
* .current-location {
  text-transform: uppercase;
  font-size: 1.25rem;
}
* label {
  text-transform: uppercase;
}
* .max-temp,
* .min-temp {
  font-size: 1rem;
  font-weight: 600;
}
* .today-max-temp,
* .today-min-temp {
  font-size: 1.5rem;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.weather-info-hourly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: 90%;
  overscroll-behavior-x: contain;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  height: 100%;
}
.weather-info-hourly .div-hourly {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.tableBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hourly-forcast-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: 2.2rem;
}

.hourly-weather-icon {
  height: 40px;
  width: auto;
}

.precipitation-small {
  font-size: 0.75rem;
}

.wind-hourly {
  font-size: 0.75rem;
}

@media (min-width: 650px) {
  .section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    height: 100vh;
  }
  .main .t-w-h-temp-section {
    margin-top: 0;
    height: 64vh;
  }
  .canvas-container {
    width: 800%;
  }
  .main .current-temp-section {
    margin-top: 0;
    width: 30vw;
  }
  .weather-info-hourly {
    padding-bottom: 0;
  }
}
.spring {
  background-image: url(../../assets/spring-bg.png);
  background-size: cover;
}
.spring .current-temp-section {
  color: hsl(0deg, 0%, 100%);
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.spring .current-location {
  font-weight: 600;
}
.spring .time-stamp {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.spring .online-status-info {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.spring .t-w-h-temp-section {
  opacity: 90%;
}
.spring .wrapper {
  box-shadow: 2px 2px 2px rgba(115, 115, 115, 0.5);
}
.spring .slider {
  box-shadow: 1.5px 1.5px 2px rgba(85, 85, 85, 0.5);
}

.summer {
  background-image: url(../../assets/summer-bg.png);
  background-size: cover;
}
.summer .current-temp-section {
  color: hsl(0deg, 0%, 100%);
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.summer .current-location {
  font-weight: 600;
}
.summer .time-stamp {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.summer .online-status-info {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.summer .t-w-h-temp-section {
  opacity: 90%;
}
.summer .wrapper {
  box-shadow: 2px 2px 2px rgba(115, 115, 115, 0.5);
}
.summer .slider {
  box-shadow: 1.5px 1.5px 2px rgba(85, 85, 85, 0.5);
}

.autumn {
  background-image: url(../../assets/autumn-bg.png);
  background-size: cover;
}
.autumn .current-temp-section {
  color: hsl(0deg, 0%, 100%);
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.autumn .current-location {
  font-weight: 600;
}
.autumn .time-stamp {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.autumn .online-status-info {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.autumn .t-w-h-temp-section {
  opacity: 90%;
}
.autumn .wrapper {
  box-shadow: 2px 2px 2px rgba(115, 115, 115, 0.5);
}
.autumn .slider {
  box-shadow: 1.5px 1.5px 2px rgba(85, 85, 85, 0.5);
}

.winter {
  background-image: url(../../assets/winter-bg.png);
  background-size: cover;
}
.winter .current-temp-section {
  color: hsl(0deg, 0%, 100%);
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.winter .current-location {
  font-weight: 600;
}
.winter .time-stamp {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.winter .online-status-info {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.winter .t-w-h-temp-section {
  opacity: 90%;
}
.winter .wrapper {
  box-shadow: 2px 2px 2px rgba(115, 115, 115, 0.5);
}
.winter .slider {
  box-shadow: 1.5px 1.5px 2px rgba(85, 85, 85, 0.5);
}

.image-mode-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  display: inline-block;
  width: 50px;
}

.image-mode-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0deg, 0%, 83%);
  transition: 0.4s;
  box-shadow: 2px 2px 4px hsl(0deg, 0%, 63%);
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(0deg, 0%, 100%);
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */